.category {
  height: 100%;
  box-shadow: none;
  border-radius: 14px;
  &:hover{
       scale: (1.1);
       transform: translateY();
  }
}

// ion-card-content {
//   .img-wrapper {
//     border-radius: 14px;
//     height: 200px;
//     overflow: hidden;
//     margin-bottom: 8px;
//   }

//   ion-icon {
//     color: #f2994a;
//     padding-right: 4px;
//   }

//   ion-card-subtitle:last-of-type {
//     padding-top: 6px;
//   }
// }

ion-card-header {
  ion-icon {
    font-size: 60px;
  }

  ion-card-title {
    font-size: 22px;
    font-weight: bolder;
  }
}
